table, td, th{
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    width: 1000px;
}

td{
    text-align: left;
}

tr:nth-child(n){
    color: white;
}

tr:nth-child(2n){
    background-color: aquamarine;
    color: black;
}

h1{
    margin: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-image: url(image/champ-libre-champ-ouvert-ciel-clairiere-897233.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 93vh;
}